absl-py==0.13.0
adal==1.2.7
altgraph==0.17
aniso8601==9.0.1
appdirs==1.4.3
arabic-reshaper==2.1.3
arrow==1.1.1
asgiref==3.3.4
astroid==2.3.3
attrs==20.3.0
azure-ai-textanalytics==5.1.0
azure-cognitiveservices-language-luis==0.7.0
azure-cognitiveservices-speech==1.19.0
azure-cognitiveservices-vision-computervision==0.7.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.28
azure-core==1.21.1
azure-storage-blob==12.9.0
backcall==0.2.0
cached-property==1.5.2
cachelib==0.5.0
certifi==2021.10.8
cffi==1.14.0
chardet==4.0.0
charset-normalizer==2.0.10
class-registry==2.1.2
click==8.0.3
cmake==3.22.0
code128==0.3
colorama==0.4.4
contextvars==2.4
cryptography==2.9.2
cycler==0.10.0
dataclasses==0.8
DateTime==4.3
decorator==5.0.7
defusedxml==0.7.1
distlib==0.3.0
dj-static==0.0.6
Django==3.0
django-cors-headers==3.7.0
django-countries==7.2.1
django-filter==21.1
django-mssql-backend==2.8.1
django-utils-six==2.0
django-xhtml2pdf==0.0.4
djangorestframework==3.12.4
dlib @ https://pypi.python.org/packages/da/06/bd3e241c4eb0a662914b3b4875fc52dd176a9db0d4a2c915ac2ad8800e9e/dlib-19.7.0-cp36-cp36m-win_amd64.whl#md5=b7330a5b2d46420343fbed5df69e6a3f
et-xmlfile==1.0.1
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.0.12
filters==1.3.2
Flask==2.0.2
Flask-Cors==3.0.10
Flask-HTTPAuth==4.5.0
Flask-RESTful==0.3.9
Flask-Session==0.4.0
fpdf==1.7.2
future==0.18.2
grep==0.3.2
h11==0.12.0
html5lib==1.1
httpcore==0.12.3
httpx==0.17.1
idna==3.3
immutables==0.15
importlib-metadata==4.8.3
importlib-resources==1.5.0
ipykernel==5.5.3
ipython==7.16.1
ipython-genutils==0.2.0
iso8601==0.1.12
isodate==0.6.0
isort==4.3.21
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.0
Jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.2
make==0.1.6.post2
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
mccabe==0.6.1
mediapipe==0.8.3
migrations==0.1.1
msrest==0.6.21
msrestazure==0.6.4
mssql-django==1.0
mysql==0.0.2
mysqlclient==1.4.6
nbformat==4.2.0
ntlm-auth==1.5.0
numpy==1.19.3
oauthlib==3.2.0
opencv-python==4.5.2.52
openpyxl==3.0.3
pandas==1.1.5
parso==0.8.2
passlib==1.7.4
pbr==5.5.1
pdfcrowd==5.1.3
pdfkit==0.6.1
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.4.0
plotly==4.14.3
plotter==1.3.19
prompt-toolkit==3.0.18
protobuf==3.17.3
pyasn1==0.4.8
pycparser==2.20
Pygments==2.8.1
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyJWT==1.7.1
pylint==2.4.4
pymango==0.1.1
pymongo==4.0.1
pymssql==2.1.5
PyMySQL==0.9.3
pyodbc==4.0.30
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.17.3
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.3.1
pyzmq==22.0.3
qrcode==7.3.1
regex==2021.4.4
reportlab==3.5.68
requests==2.27.1
requests-file==1.5.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
rsa==4.8
scikit-learn==0.24.2
scipy==1.5.4
serial==0.0.97
six==1.16.0
sklearn==0.0
sniffio==1.2.0
SOAPpy==0.12.22
sqlparse==0.4.1
static3==0.7.0
threadpoolctl==2.1.0
tornado==6.1
traitlets==4.3.3
turtle==0.0.1
typed-ast==1.4.1
typing_extensions==4.0.1
urllib3==1.26.8
virtualenv==20.0.13
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
whitenoise==5.3.0
wrapt==1.11.2
wstools==0.4.8
xhtml2pdf==0.2.5
xlrd==1.2.0
xlwt==1.3.0
zeep==4.0.0
zipp==3.6.0
zope.interface==5.4.0
